.bio-text{
    font-family: 'Lato', sans-serif,;
    font-size: 46px;
    font-weight: regular;
    line-height: 1.25em;
    font-style: italic;
}

a:hover{
    color: #000000;
    text-decoration: none;
}

.p{
    font-family: 'Lato', sans-serif,;
    font-size: 16px;
    font-weight: light;
    line-height: 1.25em;
    letter-spacing: 0.04em
}

.col{
    padding-right: 2.7vw;
    padding-left: 2.7vw;
}

.margin{
    margin-right:0px;
    margin-left:0px;
}

form{
    width: 40vw;
    margin: auto;
}



.btn{
    border-radius: 20px;
    border: 1px solid black;
    padding-left: 40px;
    padding-right: 40px;
}

.btn:hover{
    background-color:black;
    color: white;
}

.form-field{
    border-bottom: 1px solid black;
    display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5;
    color: #000000;
    background-color: #fff;
    background-clip: padding-box;
    border-top: 0;
    border-left: 0;
    border-right: 0;
}

.form-comment{
    display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5;
    color: #000000;
    background-color: #fff;
    background-clip: padding-box;
    padding: 10px;
    margin-top: 10px;
    
}

.container-fluid{
    width: 85.41666666666666vw;
    position: relative;
    /* background-color: blue; */ 
}


.img-bg{
    width: 100%;
    height: auto;
    margin-top: 8vh;
}

.img-sm{
    width: 100%;
    height: auto;
    margin-top: 6vh;
}

.portfolio-title{
    padding-top: 10px;
    font-family: 'Lato', sans-serif,;
    font-size: 16px;
    line-height: 1.25em;
}


.box-div-sm{
    height: 300px;
    background-color: green;
}

.arrow-cta{
    height:9px;
    width:16px;
}

a {
    color: #000000;
    text-decoration: none;
    background-color: transparent;
}

.nav{
    display: inline;
    /* background-color: #ffffff; */
    z-index: 1;
    padding: 40px;
}

.footer-padding{
    margin-top: 20vh;
}


footer{
    background-color: #ffffff;
    z-index: 1;
    width: 100vw;
    padding: 40px;
    position: fixed;
    bottom: 0;
    left: 0;
}

#abt-img{
width: 100%;
height: auto;
}

.ft-itm-right{
    float: right;
}

.logo-img{
    width: auto;
    height: 75px;
}


#logo{
    z-index: 3;
}

.svg{
    width:30px;
    height:30px;
}

.svg:hover{
    fill:black;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 40px;
  }
  
  #li-logo{
      padding-left:10px
  }

  li {
    display: inline;
    padding-left: 30px;
  }



@media only screen and (max-width: 766px) {
    .img-sm{
        width: 100%;
        height: auto;
        margin-top: 40px;
    }

    .img-bg{
        width: 100%;
        height: auto;
        margin-top: 0px;
    }
    .nav{
        position: fixed;
        background-color: #ffffff;
        z-index: 1;
        width: 100vw;
        padding: 20px;
    }

    .btn{
        width: 300px;
    }

    .col{
        padding-right:0;
        padding-left:0;
    }
    
    .ft-itm-right{
        float: none;
        display: block;
        margin-bottom: 10px;
    }

    footer{
        position: absolute;
        padding: 30px;
        border-top: 1px solid #dedede;
        bottom: -260px;
    }

    .bio-text{
       font-size: 42px;
       margin-top: 30px;
       
    }
    
    .container-fluid{
        width: 100vw;
        padding-left: 30px;
        padding-right: 30px;
      
    }
    .row{
        margin-left: 0px;
        margin-right: 0px;
    }



}

@media only screen and (max-width: 479px) {
    .img-sm{
        width: 100%;
        height: auto;
    }

    .container-fluid{
        width: 100vw;
        padding-left: 30px;
        padding-right: 30px;
        margin-top: 125px;
      
    }

    .svg{
        width:75px;
        height:75px;
        float:right;
      
    }

    ul {
        padding: 30px;
      }

    li {
        width: 100%;
        display: block;
        padding-left: 0px;
        padding-bottom: 10px;
        text-align: left;
      }

    #li-logo{
        padding-left:0px;
    }

    .nav{
        position: fixed;
        background-color: #ffffff;
        z-index: 1;
        width: 100vw;
        padding: 40px;
    }

    .col{
        padding-right:0;
        padding-left:0;
    }

    footer{
        position: relative;
        padding: 30px;
        border-top: 1px solid #dedede;
        
    }

    .bio-text{
        font-family: 'Lato', sans-serif,;
        font-size: 36px;
        font-weight: regular;
        line-height: 1.25em;
        font-style: italic;
        padding-right: 20px;
    }

    .btn{
        width: 100%
    }

}